<br><br>
<form action="/user/signin" method="POST">
	<label for="email">Email : </label>
	<input type="email" name="email" id="email" placeholder="Masukkan email anda..">
	<br><br>
	<label for="password">Password : </label>
	<input type="password" name="password" id="password" placeholder="Masukkkan password anda..">
	<br><br>
	<button type="submit">Sign In</button>
</form>