<h2>all books list</h2>
<% books.forEach( book => { %>
	<div><span>Title : </span><%= book.title %></div>
	<div><span>Author : </span><%= book.author %></div>
	<div><span>Genre : </span><%= book.genre %></div>
	<br>
<% }) %>